<template name="time">
<div class="row">
    <div class="col-lg-4">
        <h4>Select event day</h4>
        <hr>
        <div id="my-datepicker"></div>
        <br>
        <h5 class="text-muted">02/12/1995</h5>
    </div>
    <div class="col-lg-8">
        <h4>Time proposals</h4>
        <form>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label for="from">From: </label>
                    <input type="text" class="form-control input-sm" id="from" placeholder="8:00 AM">
                </div>
                <div class="col-lg-4">
                    <label for="to">To: </label>
                    <input type="text" class="form-control input-sm" id="to" placeholder="2:00 PM">
                </div>
            </div>
            <div class="row col-lg-8 form-group">
                <label for="ranges">Or select ranges:</label>
                <select class="select2-element form-control" id="ranges" multiple="multiple">
                  <option value="1">8:00 => 10:00</option>
                  <option value="2">10:00 => 12:00</option>
                </select>
            </div>
            <br><br><br><br>
            <div class="form-group pull-right">
                <a  href="/settings" class="btn btn-default btn-sm">Back</a>
                <a href="/settings/invite" class="btn btn-primary btn-sm">Next</a>
            </div>
        </form>
    </div>
</div>
</template>
